.footer {
    display: flex;
    flex-direction: column;
    background-color: #231d21;
}

.containerFooter {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 0.9375rem;
    /*15px*/
    padding: 1.25rem;
    text-align: center;
    color: #fff;
    background-color: #231d21;
}

p {
    margin: 0;
    padding: 0.625rem;
}

span {
    color: var(--color-text-7);
}